.el-col {
    float: left;
}

@for $i from 0 through 24 {
    .el-col-#{$i} {
        width: $i / 24 * 100%;
    }

    .el-col-offset-#{$i} {
        margin-left: $i / 24 * 100%;
    }
}

@media only screen and (max-width: 768px -1) {
    @for $i from 0 through 24 {
        .el-col-xs-#{$i} {
            width: $i / 24 * 100%;
        }

        .el-col-xs-push-#{$i} {
            margin-left: $i / 24 * 100;
        }

        .el-col-xs-pull-#{$i} {
            margin-right: $i / 24 * 100;
        }
    }
}

@media only screen and (min-width: 768px) {
    @for $i from 0 through 24 {
        .el-col-sm-#{$i} {
            width: $i / 24 * 100%;
        }

        .el-col-sm-push-#{$i} {
            margin-left: $i / 24 * 100;
        }

        .el-col-sm-pull-#{$i} {
            margin-right: $i / 24 * 100;
        }
    }
}

@media only screen and (min-width: 992px) {
    @for $i from 0 through 24 {
        .el-col-md-#{$i} {
            width: $i / 24 * 100%;
        }

        .el-col-md-push-#{$i} {
            margin-left: $i / 24 * 100;
        }

        .el-col-md-pull-#{$i} {
            margin-right: $i / 24 * 100;
        }
    }
}

@media only screen and (min-width: 1200px) {
    @for $i from 0 through 24 {
        .el-col-lg-#{$i} {
            width: $i / 24 * 100%;
        }

        .el-col-lg-push-#{$i} {
            margin-left: $i / 24 * 100;
        }

        .el-col-lg-pull-#{$i} {
            margin-right: $i / 24 * 100;
        }
    }
}

@media only screen and (min-width: 1920px) {
    @for $i from 0 through 24 {
        .el-col-xl-#{$i} {
            width: $i / 24 * 100%;
        }

        .el-col-xl-push-#{$i} {
            margin-left: $i / 24 * 100;
        }

        .el-col-xl-pull-#{$i} {
            margin-right: $i / 24 * 100;
        }
    }
}